<div class="my-own-form">
  	<h2 class="text-center">Edit Comment</h2>
	<%= render 'posts/form_comment' %>
	<div class="form-group">
		<%= link_to 'Show', @post ,:class => 'btn btn-primary btn-block', :role => 'button' %>
		<%= link_to 'Back', posts_path, :class => 'btn btn-default btn-block', :role => 'button' %>
	</div>
</div>