<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<% if !flash[:notice].blank? %>
			<div class="alert alert-success">
				<%= flash[:notice] %>
			</div>
		<% end %>
 		<div class="jumbotron">
			<h1>Hello, world.!!</h1>
			<p>This is my tiny blog application in Ruby on Rails. I welcome you all to my application.</p>
			<p>
				<%= link_to("Learn more..", posts_path , :class => 'btn btn-primary btn-lg', :role => 'button') %>
			</p>
		</div>
  	</div>
</div>